@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #cccccc;
}
#header1-1 H1 {
  font-family: 'Bitter', serif;
  color: #7ac673;
}
#contacts1-2 B {
  color: #ffffff;
}
#contacts1-2 STRONG {
  color: #ffffff;
}
#contacts1-2 P {
  color: #000000;
}
#contacts1-2 UL {
  color: #000000;
}



#header3-7 H3 {
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #cccccc;
}
#contacts1-5 B {
  color: #ffffff;
}
#contacts1-5 STRONG {
  color: #ffffff;
}
#contacts1-5 P {
  color: #000000;
}
#contacts1-5 UL {
  color: #000000;
}


#dropdown-menu-2btn-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-9 .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-9 .nav .link,
#dropdown-menu-2btn-9 .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-9 .navbar,
#dropdown-menu-2btn-9 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-9 .dropdown-menu a:hover,
#dropdown-menu-2btn-9 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-9 .navbar-toggler {
  color: #cccccc;
}
#contacts1-a B {
  color: #ffffff;
}
#contacts1-a STRONG {
  color: #ffffff;
}
#contacts1-a P {
  color: #000000;
}
#contacts1-a UL {
  color: #000000;
}




#msg-box4-k .mbr-header__text {
  color: #000000;
  font-family: 'Bitter', serif;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #000000;
}
#msg-box4-k .mbr-article P {
  color: #000000;
}
#social-buttons2-m .mbr-header__text {
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #cccccc;
}
#contacts1-f B {
  color: #ffffff;
}
#contacts1-f STRONG {
  color: #ffffff;
}
#contacts1-f P {
  color: #000000;
}
#contacts1-f UL {
  color: #000000;
}



#form1-r .mbr-header__text {
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #cccccc;
}
#contacts1-p B {
  color: #ffffff;
}
#contacts1-p STRONG {
  color: #ffffff;
}
#contacts1-p P {
  color: #000000;
}
#contacts1-p UL {
  color: #000000;
}


#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-t .navbar-brand a {
  font-family: 'Bitter', serif;
  font-size: 20px;
}
#dropdown-menu-2btn-t .nav .link,
#dropdown-menu-2btn-t .dropdown-item {
  font-size: 1.2em;
  color: #cccccc;
  font-family: 'Bitter', serif;
}
#dropdown-menu-2btn-t .navbar,
#dropdown-menu-2btn-t .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-t .dropdown-menu a:hover,
#dropdown-menu-2btn-t .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-t .navbar-toggler {
  color: #cccccc;
}
#contacts1-u B {
  color: #ffffff;
}
#contacts1-u STRONG {
  color: #ffffff;
}
#contacts1-u P {
  color: #000000;
}
#contacts1-u UL {
  color: #000000;
}
